.jumbotron {
  padding-top: 5rem;
  background-color: #c5c860;
}

#projects {
  background-color: #c5c860;
}
section {
  padding-top: 5rem;
}


.gallery-img {
  width: 100%;
}
#galery .row > * {
  padding: 0;
}


/* My Keyboard Section */
.keyboard-box{
  position: relative;
  background-color: #dada00;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d ;
}

.keyboard-box::before{
  content: 'MY';
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::before{
  opacity: 0.4;
}
.keyboard-box::after{
  content: 'KEYBORD';
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;  
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}
.keyboard-box:hover::after{
  opacity: 0.4;
}
.keyboard-name{
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0,0,50px);
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}
.keyboard-detail-butoon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transform: translate3d(-50%,-50%, 70px);
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-detail-butoon{
  bottom: 20px;
  opacity: 1;
}
.keyboard-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 100px);
  width: 350px;
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-img{
  transform: translate3d(-50%,-50%,60px) rotate(10deg) scale(1.2);
}